body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lora', serif;
    text-align: center;
    overflow-x: hidden;
}



.titulo {
    font-size: 4em;
    font-family: 'Nunito Sans', sans-serif;
    color: steelblue;
}

.eslogan {
    font-size: 1.5em;
}

/*Lo de azul violeta tiene que tener un color mas bonito :'v, y Tener un bonito borde */

.register, .login {
    border-color: black;
    border-radius: 2px;
    background-color: blueviolet;
    color: white;
    font-family: sans-serif;
    border: 10px;
}

